apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-federated-auth
  namespace: kube-federated-auth
data:
  clusters.yaml: |
    authorized_clients:
      - "cluster-a/kube-federated-auth/kube-auth-proxy"
      - "cluster-a/kube-federated-auth/test-client"
      - "cluster-a/kube-federated-auth/echo-server"

    clusters:
      # Local cluster (cluster-a)
      cluster-a:
        issuer: "https://kubernetes.default.svc.cluster.local"
        ca_cert: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
        token_path: "/var/run/secrets/kubernetes.io/serviceaccount/token"

      # Remote cluster (cluster-b) - auto-renewed
      cluster-b:
        issuer: {{ .Values.cluster_b.issuer | quote }}
        api_server: {{ .Values.cluster_b.api_server | quote }}
        ca_cert: "/etc/kube-federated-auth/certs/cluster-b-ca.crt"
        token_path: "/etc/kube-federated-auth/certs/cluster-b-token"

